@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #FAFAFC;
    --main: #613BFF;
    --lightBlue: #0071c2;
    --grey: #F2F4F5;
    --yellow: #FEBB02;
    --siteWidth: clamp(200px, 90vw, 1500px);
    --padding: 0 clamp(20px, 10vw, calc((100vw - 1000px) / 2));
    --shadow: 3.7px 5.6px 2.7px rgba(0, 0, 0, 0.012),
    9.4px 14.2px 6.9px rgba(0, 0, 0, 0.018),
    19.1px 28.9px 14.2px rgba(0, 0, 0, 0.022),
    39.4px 59.5px 29.2px rgba(0, 0, 0, 0.028),
    108px 163px 80px rgba(0, 0, 0, 0.04);
}

.container {
    background: var(--background);
}

.btn__img {
    width: 100%;
    height: auto;
}

.w {
    width: var(--siteWidth);
    margin-left: auto;
    margin-right: auto;
}

button, a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    border: none;
    outline: none;
    transition: .2s all;
}

.container {
    min-height: 100vh;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.img--width {
    width: 100%;
}

.img--height {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
.topBar {
    /*position: sticky;*/
    /*top: 0;*/
    /*left: 0;*/
    z-index: 10;
    width: 100%;
    height: 100px;
    background: transparent;
    padding: var(--padding);
    padding-top: 25px;
}

.topBar__logo {
    font-family: 'Poppins', cursive;
    color: #fff;
    font-size: 32px;
    width: 150px;
}

.topBar__logo:hover {
    transform: scale(1.02);
}

.topBar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
    background: #fff;
    font-size: 14px;
    height: 50px;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    transition: .4s all;
}

.topBar__btn:hover {
    transform: translateY(-5px);
}

.topBar__btn:hover {
    opacity: .9;
}

.topBar__btn:last-of-type {
    margin-left: 20px;
}

.searchSection {
    height: 300px;
    padding: var(--padding);
    padding-top: 50px;
    padding-bottom: 50px;
}

.searchSection__inner {
    width: 80%;
    margin: auto;
}

.input {
    height: 65px;
    border-radius: 65px;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border: none;
    box-shadow: var(--shadow);
}

.input--location,
.input--name {
    width: 100%;
    padding-left: 60px;
}

.searchSubmitBtn {
    width: 20%;
    height: 65px;
    border-radius: 65px;
    background: var(--main);
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.searchSubmitBtn:hover {
    letter-spacing: 2px;
}

.register {
    position: relative;
    min-height: 800px;
    align-items: flex-start;
}

.register__form {
    border-radius: 25px;
    flex-direction: column;
    background: #fff;
    box-shadow: var(--shadow);
    padding: 70px 30px;
    margin: 10% auto 0;
}

.register__form--register {
    margin-top: 5%;
}

.register__btn {
    background: transparent;
    border: none;
    border-bottom: 2px solid #F2F4F5;
    text-align: center;
    padding-bottom: 15px;
    width: 50%;
    margin: 30px auto;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
}

.register__btn--selected {
    font-weight: 700;
    border-bottom-color: var(--lightBlue);
}

.register__btn:last-of-type {
    border-left: 2px solid #F2F4F5;
}

.register .formSubmitBtn {
    margin-top: 25px;
}

.formInput {
    box-shadow: var(--shadow);
    background: #fff;
    width: 600px;
    height: 50px;
    border-radius: 50px;
    margin: 8px auto;
    padding: 5px 15px;
    font-size: 17px;
    border: none;
    outline: none;
    transition: .2s all;
}

.formInput:focus {
    border: 2px solid var(--main);
}

form .flex {
    width: 600px;
}

.flex > .label > .formInput {
    width: 290px;
}

.register__imgWrapper {
    width: 45%;
    margin-top: 5%;
    margin-right: 50px;
}

.register__imgWrapper--register {
    width: 35%;
    margin-top: 15%;
}

.register__imgWrapper--notifications {
    width: 30%;
    position: fixed;
    top: 30%;
    left: 10%;
}

.register__form {
    width: 90%;
    max-width: 600px;
}

.register__form--register {
    max-width: 800px;
}

.register__buttons {
    max-width: 600px;
    margin: auto;
}

.register__formContent {
    flex-direction: column;
}

.register__formContent .formSubmitBtn {
    width: 600px;
}

.register__header {
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
}

.checkBtn {
    width: 25px;
    height: 25px;
    background: transparent;
    border: 2px solid #313131;
    border-radius: 4px;
    margin-right: 15px;
    position: relative;
}

.checked::after {
    content: url("../img/check.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
}

.label--pointer {
    width: 400px;
    cursor: pointer;
    justify-content: center;
    margin: 20px 0;
}

.formSubmitBtn {
    width: 400px;
    height: 50px;
    border-radius: 50px;
    background: var(--main);
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
}

.formSubmitBtn:hover {
   opacity: .9;
}

.error {
    display: block;
    color: red;
    font-size: 12px;
}

.register--login {
    height: calc(100vh - 100px);
}

.register--login .formSubmitBtn {
    margin-top: 20px;
}

.register--login .formInput {
    width: 400px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.underlineLink {
    color: #313131;
    font-size: 14px;
    margin-top: 20px;
    opacity: .8;
}

.underlineLink:hover {
    opacity: 1;
}

.afterFormButtons {
    flex-direction: row !important;
    width: 400px !important;
}

.register__text {
    text-align: center;
    margin-bottom: 20px;
}

.topBar__btn--icon {
    width: 30px;
    background: transparent;
}

.topBar__myAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 15px;
    color: #313131;
    background: #fff;
    box-shadow: var(--shadow);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: .2s all;
}

.topBar__myAccount:hover {
    transform: scale(1.06);
}

.topBar__myAccount__img {
    width: 20px;
    margin-right: -5px;
    filter: brightness(0);
}

.pageHeader {
    text-align: center;
    position: relative;
    font-size: 32px;
    text-transform: uppercase;
    margin: 80px auto;
    width: fit-content;
    font-family: 'Ubuntu', sans-serif;
}

.pageHeader--notifications {
    margin: 90px auto 40px;
}

/*.pageHeader::before,*/
.pageHeader::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background: var(--main);
}

.pageHeader::before {
    left: -70px;
}

.pageHeader::after {
    right: -70px;
}

.smallHeader {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.smallHeader--personalData {
    text-align: center;
}

.myAccount {
    align-items: flex-start;
}

.myAccount .formSubmitBtn {
    display: block;
    width: 100%;
    margin: 20px auto;
}

.icon {
    width: 20px;
    background: transparent;
    transition: .2s all;
}

.myAccount__petList {
    padding: 40px 60px;
    box-shadow: var(--shadow);
    border-radius: 25px;
    background: #fff;
    width: 30%;
    margin-right: 5%;
}

.myAccount__petList .smallHeader {
    margin-bottom: 40px;
    text-align: center;
}

.myAccount__petList__item {
    justify-content: center;
    margin-bottom: 30px;
}

.myAccount__petList__item .icon:first-of-type {
    margin: 0 20px;
}

.myAccount__petList__item__icon {
    width: 20px;
    margin-right: 30px;
}

.myAccount__petList__item__name {
    background: var(--main);
    color: #fff;
    font-size: 14px;
    padding: 5px 15px;
    height: 25px;
    border-radius: 25px;
    margin-right: 20px;
}

.myAccount__petList__item .icon {
    opacity: .8;
}

.myAccount__petList__item .icon:hover {
    opacity: 1;
}

a.formSubmitBtn {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.myAccount__personalData__form {
    max-width: 90vw;
    box-shadow: var(--shadow);
    padding: 40px;
    background: #fff;
    border-radius: 25px;
}

.myAccount__personalData__form .flex {
    max-width: 100%;
}

.footer {
    padding: 30px 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #313131;
    background: var(--background);
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 100%;
}

.footer__logo {
    margin: 0 auto 15px;
    width: 100px;
}

.footer__header {
    font-weight: 400;
    font-size: 13px;
    opacity: .7;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.modal__inner {
    box-shadow: var(--shadow);
    width: 500px;
    height: 40vh;
    min-height: 250px;
    background: #F6F6F6;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon--closeModal {
    position: absolute;
    top: 15px;
    right: 0;
}

.modal__inner .formSubmitBtn {
    max-width: 300px !important;
}

.addPetForm {
    box-shadow: var(--shadow);
    padding: 40px 40px;
    width: 35%;
    background: #fff;
    margin-top: 3%;
    margin-right: 5%;
    border-radius: 25px;
}

.addPetForm .pageHeader {
    margin-top: 0;
}

.myNotifications {
    margin-left: 50%;
    margin-top: 4%;
}

.myNotifications--hotel {
    margin-left: 0;
    width: 100%;
}

.addPet__label {
    font-size: 14px;
    width: 100% !important;
    margin-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}

.addPet__label option,
.addPet__label select,
.addPet__input {
    width: 200px;
    height: 35px;
    border-radius: 35px;
    border: none;
    outline: none;
    box-shadow: var(--shadow);
    padding: 7px 15px;
}

.container--addPet .footer {
    bottom: -80px;
}

textarea {
    resize: none;
}

.addPetForm textarea {
    height: 150px;
}

.addPetForm .formSubmitBtn {
    width: 100%;
}

.addPetForm .error {
    position: absolute;
    bottom: -15px;
    right: 0;
}

.singleReservation {
    background: #fff;
    box-shadow: var(--shadow);
    border-radius: 15px;
    width: 700px;
    height: 200px;
    margin-bottom: 40px;
    padding: 20px 30px;
}

.userNotifications {
    align-items: flex-start;
    padding-bottom: 80px;
}

.singleReservation__status {
    text-transform: uppercase;
    padding: 0 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    width: 180px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
}

.singleReservation__status--positive {
    background: green;
}

.singleReservation__status--neutral {
    background: var(--main);
}

.singleReservation__status--negative {
    background: red;
}

.singleReservation__key {
    padding-right: 15px;
}

.singleReservation__value {
    font-weight: 700;
}

.singleReservation__value--hotelName {
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

.singleHotel {
    padding: 50px 0;
}

.gallerySlider {
    width: 65%;
    height: 500px;
    background: #F2F4F5;
    position: relative;
}

.gallerySlider__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallerySlider img {
    height: 500px;
    min-width: 100%;
}

.gallerySlider__btn {
    width: 60px;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: .2s all;
}

.gallerySlider__btn:hover {
    background: rgba(255, 255, 255, .6);
}

.gallerySlider__btn:last-of-type {
    left: unset;
    right: 0;
}

.gallerySlider__btn .gallerySlider__btn__img {
    width: 30px;
    height: auto;
    min-width: 0;
}

.gallerySlider__btn:first-of-type .gallerySlider__btn__img {
    transform: rotateY(180deg);
}

.singleHotel--section3,
.singleHotel--section2 {
    margin: 20px auto;
}

.singleHotel--section3, .singleHotel--section3 > * {
     height: 400px;
}

.singleHotel__header {
    width: 65%;
    background: var(--grey);
    padding: 40px 20px;
}

.singleHotel__name {
    font-size: 36px;
}

.singleHotel__rating {
    width: auto;
}

.singleHotel__rating__text {
    font-size: 24px;
    font-weight: 400;
}

.singleHotel__star {
    width: 30px;
    margin-left: 20px;
}

.singleHotel__contactSection {
    background: var(--grey);
    width: 33%;
    padding: 40px 20px;
}

.singleHotel__contactSection__smallHeader {
    font-size: 14px;
    font-weight: 400;
}

.singleHotel__contactSection__hotelOwner {
    margin-top: 5px;
    font-size: 24px;
    font-weight: 600;
}

.formSubmitBtn--singleHotelContact {
    width: 200px;
    justify-content: center;
}

.formSubmitBtn--singleHotelContact img {
    filter: brightness(0) invert(1);
    margin-right: 10px;
}

.singleHotel__description {
    padding: 40px 20px;
    background: var(--grey);
    margin: 20px auto;
}

.singleHotel__description__header {
    font-size: 24px;
    margin-bottom: 10px;
}

.singleHotel__description p {
    font-size: 15px;
}

.hotelAddress {
    width: 33%;
}

.mapContainer {
    position: relative;
    height: 350px;
}

.singleHotel__address {
    background: var(--grey);
    padding: 20px 7%;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.locationIcon {
    width: 50px;
    margin-right: 15%;
}

.addReservation__pet {
    text-align: right;
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.register__imgWrapper,
.addPetForm, .formResponse {
    transition: .3s all;
}

.formResponse {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
}

.formResponse {
    font-size: 24px;
    text-align: center;
}

.formSubmitBtn--formResponse {
    margin: 25px auto;
}

.container--hotelNotifications .singleReservation {
    width: var(--siteWidth);
    margin: 20px auto;
}

.singleReservation__buttons .singleReservation__status:first-of-type {
    margin-right: 30px;
}

.searchLabel {
    width: 50%;
    position: relative;
}

.searchIcon {
    width: 20px;
    margin-right: 15px;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.locationLabel {
    position: relative;
    width: 25%;
}

.icon {
    width: 30px;
    margin-right: 5px;
}

.icon--calendar {
    width: 25px;
}

.icon--pet {
    width: 18px;
    margin-right: 3px;
}

.singleReservation__date {
    display: flex;
    align-items: center;
}

.singleReservation__dates {
    margin-bottom: 20px;
}

.singleReservation__date--hotelName {
    margin-bottom: 25px;
}

.singleReservation__date--second {
    margin-left: 40px;
}

.singleReservation__value > span {
    padding-right: 20px;
}

.register__imgWrapper--password {
    margin-top: 7%;
}

.addHotel__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: var(--siteWidth);
    margin: 0 auto 50px;
}

.addHotel__section__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.addHotel__section__header__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 700;
    border: 2px solid var(--main);
}

.addHotel__section__header__text {
    margin-left: 20px;
    font-size: 24px;
}

.formSubmitBtn--addHotel {
    width: var(--siteWidth);
    margin: 20px auto;
    display: block;
}

.register__formContent--petList {
    padding: 20px;
    background: #fff;
    box-shadow: var(--shadow);
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.addHotel__petList__item__label,
.addHotel__petList__item__priceLabel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.addHotel__petList__item__label {
    cursor: pointer;
}

.addHotel__petList__item__btn {
    width: 30px;
    height: 30px;
    border: 1px solid var(--main);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background: #fff;
}

.addHotel__petList__item__btn span {
    visibility: hidden;
}

.addHotel__petList__item__btn--selected span {
    visibility: visible;
    width: 50%;
    height: 50%;
    background: var(--main);
}

.addHotel__petList__item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
}

.page--addHotel {
    padding-bottom: 100px;
}

.addHotel__petList__item .input {
    height: 40px;
    width: 100px;
    margin-right: 10px;
}

.addHotel__petList__item__priceLabel {
    margin-left: 10%;
    font-size: 14px;
}
