* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 640px;
    position: relative;
}

video {
    width: 100%;
}

.hintInvoker {
    position: absolute;
    background: transparent;
    opacity: .5;
    bottom: 36px;
    left: 10px;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    z-index: 3;
    background: red;
}

.hint {
    visibility: hidden;
    background: #313131;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.hintInvoker--player:hover + .hint--player {
    visibility: visible;
}
