* {
    box-sizing: border-box;
}

.container {
    width: 700px;
    position: relative;
    max-width: 100%;
    margin: auto;
    transform: translateX(4%);
}

.img {
    max-width: 100%;
}

.btn {
    position: absolute;
    top: 12%;
    left: 35%;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: #8064A2;
    cursor: pointer;
    transition: .2s all;
}

.btn:hover {
    opacity: .7;
}

.btn__img {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stop {
    visibility: hidden;
}

.volume {
    position: absolute;
    top: 15%;
    left: 73%;
}

.volume {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 25px;
}

/* Mouse-over effects */
.volume:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #8064A2;
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}

.volume::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #8064A2;
    cursor: pointer; /* Cursor on hover */
}

.volume__icon {
    position: absolute;
    top: 15.5%;
    left: 70%;
    width: 15px;
    filter: brightness(.3);
}
