* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    position: relative;
}

.view {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    background: #fff;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view--start {
    flex-direction: column;
}

.view__header {
    font-size: 32px;
}

.view__subheader {
    margin: 20px auto 35px;
    font-size: 21px;
    font-weight: 400;
}

.btn {
    background: #0a73fe;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: .2s background;
}

.btn:hover {
    background: #0961ed;
}

.btn--start {
    font-size: 17px;
    height: 50px;
    width: 250px;
}

.view--game {
    z-index: -3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.view__menu {
    width: 15%;
    height: 100%;
    overflow-y: scroll;
}

.view__menu__button {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #0961ed;
    padding: 10px;
    cursor: pointer;
    transition: .2s all;
}

.view__menu__button:hover {
    background: #f9f9f9;
}

.scroll,
.scroll {
    scrollbar-width: thin;
    scrollbar-color: #0a73fe #C1DCFF;
}

.scroll::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.scroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #0a73fe;
    border: 33px none #ffffff;
    border-radius: 36px;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #0a73fe;
}

.scroll::-webkit-scrollbar-thumb:active {
    background: #0a73fe;
}

.scroll::-webkit-scrollbar-track {
    background: #C1DCFF;
    border: 49px none #C1DCFF;
    border-radius: 50px;
}

.scroll::-webkit-scrollbar-corner {
    background: transparent;
}

.documentWrapper {
    width: 40%;
    height: 500px;
    margin-left: 30px;
    display: block;
    position: relative;
}

.document {
    width: 100%;
    height: auto;
    position: absolute;
    visibility: hidden;
}

.document:first-of-type {
    background: #0a73fe;
    color: #fff;
    visibility: visible;
}

figcaption {
    display: block;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

.input {
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    display: block;
    margin: 20px 0;
    width: 100%;
}

.btn--quizNext {
    min-height: 35px;
    height: 35px;
    width: 150px;
    margin: auto;
}

.quiz {
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px dashed #0a73fe;
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz__question {
    font-size: 14px;
    text-align: center;
}

select {
    padding: 5px 10px;
    margin: 20px auto;
}

.quiz__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn--nextDocument {
    visibility: hidden;
}

.feedback {
    text-align: center;
    height: 0;
    visibility: hidden;
}

.btn--inline {
    background: transparent;
    border: none;
    text-decoration: underline;
    display: inline;
    color: #0961ed;
    font-weight: 700;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -5;
}

.modal__inner {
    width: 70%;
    height: 90%;
    background: #fff;
    padding: 20px 40px;
    overflow-y: scroll;
    border-radius: 10px;
}

.modal__inner h3 {
    text-align: center;
    margin-bottom: 25px;
}

.modal__inner h5 {
    font-weight: 400;
    font-size: 15px;
    margin: 15px 0 5px;
}

.modal__inner li {
    font-size: 14px;
}

.modal__inner ul {
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

.modal__btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
    border: none;
}

.i1 {
    padding-left: 20px;
}

.i2 {
    padding-left: 40px;
}

.i3 {
    padding-left: 60px;
}

.i4 {
    padding-left: 80px;
}

.h {
    margin: 15px 0;
    font-weight: 700;
}
